$dark :#2b2833;
$light: #ced6e5;
$red: #e55b67;
$yellow: #e5b55b;
$green: #5be56e;
$purple: #c55be5;
$blue: #5bcce5;

.dark {
  color: $dark;
}

.light {
  color: $light
}

.red {
  color: $red
}

.yellow {
  color: $yellow
}

.green {
  color: $green
}

.purple {
  color: $purple
}

.blue {
  color: $blue
}