@import "../../sass/colors";

.Navbar {
  margin: 5px 0px 25px 0px;

  #brand {
    font-size: 5em;
    color: $red !important;
  }

  .AuthButtonsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}