@import "sass/bulma";
@import "sass/fonts";
@import "sass/colors";
@import "sass/breakpoints";

body {
  font-family: $mono;
  padding: 15px 12%;

  @include small {
    padding: 4px;
  }

  @include medium {
    padding: 4px;
  }

  .sans {
    font-family: $sans;
  }
}

.App {
  background-color: $dark;
  color: $light;
}